.input-senha-atual {
  font-size: 24px;
  text-align: center;
  background-color: #ffffff;
  color: rgb(10, 139, 31);
  border: 1px solid rgba(118, 118, 118, 0.601);
}

.card {
  text-align: center;
}

.card-ultimas-senhas {
  min-height: 400px;
}
