<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Controle de Atendimento </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-label>Relatório</ion-label>
        <ion-item> Senhas emitidas: {{ senhasService.senhasTotal}} </ion-item>
        <ion-item> Senhas Geral: {{ senhasService.senhasGeral}} </ion-item>
        <ion-item>
          Senhas Prioritárias: {{ senhasService.senhasPrior}}
        </ion-item>
        <ion-item> Senhas Exame: {{ senhasService.senhasExame}} </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="senhasService.descartarSenhas()" expand="block" color="danger">
    Descartar senhas não atendidas
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Relatório Detalhado</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let item of senhasService.historicoAtendimentos">
        <ion-item>
          <ion-label>
            <h3>Senha: {{item.senha}}</h3>
            <p>Tipo: {{item.tipo}}</p>
            <p>Tempo Estimado: {{item.tempo}} minutos</p>
            <p>Data/Hora: {{item.horario}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>Senhas Descartadas</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let item of senhasService.senhasDescartadas">
        <ion-item>
          <ion-label>
            <h3>Senha: {{ item.senha }}</h3>
            <p>Tipo: {{ item.tipo }}</p>
            <p>Data/Hora do Descarte: {{ item.horario }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
